<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" /> <!-- static path for public folder is already set in app.js -->
</head>

<body>

    <div class="main-content">
        {{>header}}
        <label class="tx" for="regions">Choose a region:</label>
        <select id="regions" class="list" onchange="myFunction()">
            <option value="dar es salaam">Dar es salaam</option>
            <option value="arusha">Arusha</option>
            <option value="dodoma">Dodoma</option>
        </select>
        <article class="widget">
            <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
            <div class="weatherInfo">
                <div class="temperature"><span></span></div>
                <div class="description">
                    <div class="weatherCondition"></div>
                    <div class="place"></div>
                </div>
            </div>
            <div class="date"></div>
        </article>
    </div>
    <script src="js/app.js"></script> <!-- absolute path -->
</body>

</html>